<!--Modal d'ajout d'utilisateur-->
<ng-template #ajout let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajout d'utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label for="lastName">
            Nom
          </label>
          <input [(ngModel)]="lastName" name="lastName" type="text" id="lastName" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="firstName">
            Prénom
          </label>
          <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName" class="form-control" ngModel
            required>
        </div>

        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input [(ngModel)]="email" name="email" type="text" id="email" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="password">
            Mot de passe
          </label>
          <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" ngModel
            required>
        </div>
        <!-- TODO : add a DatePicker for the Date of birth -->
        <div class="form-group">
          <label for="adresse">
            Adresse
          </label>
          <input [(ngModel)]="address" name="address" type="text" id="address" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="city">
            Ville
          </label>
          <input [(ngModel)]="city" name="city" type="text" id="city" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="cp">
            Code Postal
          </label>
          <input [(ngModel)]="cp" name="cp" type="text" id="cp" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="country">
            Pays
          </label>
          <input [(ngModel)]="country" name="country" type="text" id="country" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="sid">
            Service
          </label>
          <select class="form-control" [(ngModel)]="sid" name="sid" id="sid" required>
            <option *ngFor="let el of service" [value]="el.sid">{{el.name}}</option>
          </select>
        </div>

      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="f.invalid" (click)="addUser(f)">Enregistrer</button>
    <button type="button" class="btn btn-danger" [disabled]="f.invalid" (click)="modal.dismiss('Annuler')">Annuler</button>
  </div>
</ng-template>

<!--Modal de modification d'utilisateur-->
<ng-template #modif let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification d'utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label for="lastName">
            {{ lastName }}
          </label>
          <input [(ngModel)]="lastName" name="lastName" type="text" id="lastName" class="form-control" ngModel required disabled>
        </div>

        <div class="form-group">
          <label for="firstName">
            Prénom
          </label>
          <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName" class="form-control" ngModel
            required>
        </div>

        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input [(ngModel)]="email" name="email" type="text" id="email" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="password">
            Mot de passe
          </label>
          <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" ngModel
            required>
        </div>
        <!-- TODO : add a DatePicker for the Date of birth -->
        <div class="form-group">
          <label for="adresse">
            Adresse
          </label>
          <input [(ngModel)]="address" name="address" type="text" id="address" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="city">
            Ville
          </label>
          <input [(ngModel)]="city" name="city" type="text" id="city" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="cp">
            Code Postal
          </label>
          <input [(ngModel)]="cp" name="cp" type="text" id="cp" class="form-control" ngModel required>
        </div>

        <div class="form-group">
          <label for="country">
            Pays
          </label>
          <input [(ngModel)]="country" name="country" type="text" id="country" class="form-control" ngModel required>
        </div>

        <!-- <div class="form-group">
          <label for="hos">
            Chef de service
          </label>
          <select class="form-control" [(ngModel)]="hos" name="hos" id="hos" required>
            <option *ngFor="let el of user" [value]="el.uid">{{el.lastName}}</option>
          </select>
        </div> -->

      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="f.invalid" (click)="modifUser(f)">Enregistrer</button>
    <button type="button" class="btn btn-danger" [disabled]="f.invalid" (click)="modal.dismiss('Annuler')">Annuler</button>
  </div>
</ng-template>

<!--Modal de suppression d'utilisateur-->
<ng-template #suppr let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression d'utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>MODAL DE SUPPRESION</p>
  </div>
</ng-template>

<button id="btncreate" type="button" class="btn btn-success" (click)="openCreer(ajout)">Ajouter un utilisateur</button>
<table mat-table #table [dataSource]="user" class="mat-elevation-z8">
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Nom</th>
    <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef> Service </th>
    <td mat-cell *matCellDef="let element"> {{ this.serviceService.getServiceById(this.service, element.sid).name }} </td>
  </ng-container>

  <!--TODO : Ajouter la fonction au button -->
  <ng-container matColumnDef="modif">
    <th mat-header-cell *matHeaderCellDef> Modif </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-success" (click)="openModif(modif, element)"><i class="fa fa-edit" aria-hidden="true"></i></button>
    </td>
  </ng-container>

  <!--TODO : Ajouter la fonction au button -->
  <ng-container matColumnDef="supprimer">
    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-danger" (click)="openSuppr(suppr)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
