<div id="top_box_profil" class="top_div" style="">
  <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
  <div id="infos_profil" class="column">

    <div class="labels_div">{{ connecteduser.lastName }} {{ connecteduser.firstName }}</div>
    <div class="labels_div">{{ connecteduser.email }}</div>
<div class="labels_div">{{ connecteduser.dateN.substr(8, 2) }} / {{ connecteduser.dateN.substr(5, 2) }} / {{
  connecteduser.dateN.substr(0, 4) }}</div>
    <div class="labels_div">{{ connecteduser.address }}</div>
    
  </div>
  <!-- </form> -->

</div>
<div id="top_box_profil" class="top_div" style="">

  <div class="column">
    <div class="labels_div">Demande de modification d'informations personnelles</div>
    <textarea #infoDescription class="style-textarea" id="styled" name="message" placeholder="                                                                                                        "></textarea>
  </div>
  <div class="column">
    <button class="validate-button" type="submit" value="Register" (click)="validate(missionTitle.value, missionStart.value, missionEnd.value, missionDescription.value)"
      ng-disabled="register.$invalid">Soumettre ma demande</button>
  </div>
</div>
