<div id = "404_section" style = "margin-left: 10px; margin-top: 10px;">
  <h2>Erreur 404</h2>
  <p>Cette page n'existe pas !</p>
</div>
<!-- <ul>
  <li *ngFor="let user of users">
    <h2>{{user.uid}}</h2>
    <h2>{{user.status}}</h2>
    <h2>{{user.sid}}</h2>
    <h2>{{user.lastName}}</h2>
    <h2>{{user.firstName}}</h2>
    <h2>{{user.date_n}}</h2>
    <h2>{{user.email}}</h2>
    <h2>{{user.cp}}</h2>
    <h2>{{user.city}}</h2>
    <h2>{{user.country}}</h2>
    <h2>{{user.password}}</h2>
    <h2>{{user.picturePath}}</h2>
    <h2>{{user.alive}}</h2>
  </li>
</ul> -->
