<div style="padding: 10px 0px 0px; ">
  <h3 style="margin-left: 20px; display: block;">NOTE DE FRAIS | {{erDate}}</h3>
  <h3 style="margin-left: 20px; display: block;">{{ this.userService.getUserById(this.user,
    this.erRequest.uid).lastName
    }} {{
    this.userService.getUserById(this.user,
    this.erRequest.uid).firstName }} | {{ this.serviceService.getServiceById(this.service,
    this.userService.getUserById(this.user,
    this.erRequest.uid).sid).name }}</h3>
</div>

<div id="top_box_reports" class="top_div">
  <div>
    <button class="btn btn-success" type="submit" value="Register" style="margin-top: 32px; width: 50%;" (click)="allValid()">Tout valider</button>
  </div>

  <div>
    <button class="btn btn-danger" type="submit" value="Register" style="margin-top: 32px; width: 50%;" (click)="allRefuse()">Tout refuser</button>
  </div>
</div>
<div id="low_box_reports" class="top_div">
  <div style="padding: 10px 10px 0px;">
    <h4 style="font-size: 20px">Lignes de note de frais</h4>
    <div class="example-container" style="height: auto;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="MISSION">
          <th mat-header-cell *matHeaderCellDef> Mission</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}"> {{
            element.mid }} </td>
        </ng-container>

        <ng-container matColumnDef="REMBOURSEMENT">
          <th mat-header-cell *matHeaderCellDef> Remboursement</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.reasonOfRefund}} </td>
        </ng-container>

        <ng-container matColumnDef="TYPE">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.typeOfExpense}} </td>
        </ng-container>

        <ng-container matColumnDef="DATE">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.dateOfOperation | date:'MM/dd/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="DETAILS">
          <th mat-header-cell *matHeaderCellDef> Détails</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.additionalDetail.substring(0, 30)}}... </td>
        </ng-container>

        <ng-container matColumnDef="MONTANT">
          <th mat-header-cell *matHeaderCellDef> Montant</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.amount}} EUR
          </td>
        </ng-container>


        <ng-container matColumnDef="VALIDER">
          <th mat-header-cell *matHeaderCellDef>VAL. </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.state !== 'Refusée' && element.state !== 'Validée' && element.state === this.erRequest.status">
              <button class="accept-button" (click)="validLine(element.lndfid)">
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="REFUSER">|
          <th mat-header-cell *matHeaderCellDef>REF.</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.state !== 'Refusée' && element.state !== 'Validée' && element.state === this.erRequest.status">
              <button class="refuse-button" (click)="refuseLine(element.lndfid)">
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
