<div id="top_box_missions" class="top_div">
  <div class="row">
    <div class="col-md-4">

      <form class="example-form">
        <input type="text" placeholder="Rechercher Mission" aria-label="Number" matInput [(ngModel)]="nameInput"
          [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
      </form>

    </div>
    <div class="col-md-3">
      <mat-form-field *ngIf="this.connectedService.getConnectedUser().status === 'HeadOfService'">
        <mat-select placeholder="Collaborateurs" [(ngModel)]="collaborateurInput">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let u of user" [value]="u.lastName">{{ u.lastName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-select placeholder="Statut" [formControl]="statutControl" [(ngModel)]="statutInput" required>
          <mat-option value=""></mat-option>
          <mat-option value="En cours">En cours</mat-option>
          <mat-option value="En validation">En validation</mat-option>
          <mat-option value="Validée">Validée</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <input #missionStart class="form-control" type="text" mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y"
        placeholder="Date de début" [(ngModel)]="dateInput" required>
    </div>
  </div>
</div>
<button class="validate-button" style="margin: 0 2% 0;" (click)="newFilteredEvents()">Rechercher</button>
<div id="top_box_missions" class="top_div" style="">
  <table mat-table [dataSource]="displayedMission" class="mat-elevation-z8">


    <ng-container matColumnDef="titreMission">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre Mission</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.mid]}"> {{element.title}}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date début </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.mid]}"> {{element.startDate
        |
        date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.mid]}"> {{element.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="serviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.mid]}">
        {{this.serviceService.getServiceById(this.service,element.sid).name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="consulter">
      <th mat-header-cell *matHeaderCellDef> Editer</th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="notfound" class="consult-button" (click)="consultation(element.mid)">
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <router-outlet></router-outlet>
  </table>
</div>
