.mod_div {

   margin: auto;
   margin-right: 30px;
height: 180px;
  width: 1000px;

}  

.mod_div2{
	margin: auto;
	height: 120px;
  width: 700;
}
table {
  table-layout:fixed;
  margin: auto;
   margin-left: 70px;
  width:550px;
  }
