<div class="container">
 <div class="mod_div" >

      <thead>
       	<div class = "row">

        <div class="col-xs-6">
       <th>Titre Mission <input
          class="form-control"
          type="text"></th>
      </div>
       <div class="col-xs-5">
 <th>Description complémentaire	 <input class="form-control" type="text" size="50" height="100"></th></div>
 	</div>
      </thead>
      <thead>
      <tr>
      <div class = "row">

      	<th>Date Debut <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)] = "new_event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-d"
          altFormat="F j, Y"
          placeholder="01/01/2019"></th>

          <th>Date Fin <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)] = "new_event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-d"
          altFormat="F j, Y"
          placeholder="01/01/2019"></th>
</div>
      </tr>
      </thead>
      <td>
</td>       
</div>


<div class="mod_div2" >
<table class="table table-hover"  size="50" height="10">
  <thead class = "thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Service</th>
      <th scope="col">Fonction</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>Dupont</td>
      <td>Marc</td>
      <td>Financier</td>
      <td>Comptable
</td>
    </tr>   
  </tbody>
</table>
</div>

 <div class="mod_div" >
 <button type="button" class="btn btn-success">Valider Création</button>
<button type="button" class="btn btn-danger">Abandonner</button>
</div>

</div>