<div class="container">
  <div class="row">
    <div class="col-12">
      <font color="white"  *ngIf="authStatus">
        {{ connecteduser.lastName }} {{ connecteduser.firstName }}
      </font>
      <input type="button" class="button buttonDisc" value="Deconnexion" *ngIf="authStatus" (click)="onSignOut()">
    </div>
  </div>

  <div class="row">

    <div class="col-2">
      <div *ngIf="authStatus">
        <app-navigation></app-navigation>
      </div>
    </div>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<!-- <div id="snackbar">Aucune nouvelle notification...</div> -->
