<div style="width: 100%;">
  <div class="row" style="padding: 0 0 0; margin: 0 0 0;">
    <div class="col-12" id="head" style="padding: 0 0 0; margin: 0 0 0;">
    </div>
  </div>

  <div class="row" style="padding: 0 0 0; margin: 0 0 0;">
    <div class="col-2" style="padding: 0 0 0; margin: 0 0 0;">
      <div *ngIf="authStatus">
        <app-navigation></app-navigation>
      </div>
    </div>

    <div class="col-10" style="padding: 0 0 0; margin: 0 0 0;">
      <router-outlet>

      </router-outlet>
    </div>
  </div>
</div>
<!-- <div id="snackbar">Aucune nouvelle notification...</div> -->
