<ng-template #imageList let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Voici les images fournies: </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let option of modal_element.FILE">
      <pre>
        <img [src] = "option.PATH">
      </pre>
    </div>
  </div>
</ng-template>

<ng-template #editLine let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Editer la ligne de frais: </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="top_div">
      <div class="column">
        <select #selectedMission class="soflow" style="display: inline-block; width: 100%;">
          <option *ngFor="let element of mission" [value]="element.mid">{{element.title}}
          </option>
        </select>

        <input [(ngModel)]="modal_line.reasonOfRefund" #selectedMotive [value]="modal_line.reasonOfRefund" type="text"
          style="float: left; width: 100%; display: inline-block;" placeholder="Motif de remboursement">
        <input [(ngModel)]="modal_line.typeOfExpense" #selectedTypeR [value]="modal_line.typeOfExpense" type="text"
          style="float: left; width: 100%; display: inline-block;" placeholder="Type de dépense">

        <input [(ngModel)]="modal_line.dateOfOperation" #selectedDate class="form-control" type="text" style="float: left; width: 100%; display: inline-block;"
          mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Date de l'opération" [value]="modal_line.dateOfOperation"
          required>

      </div>
      <div class="column">
        <h4 style="font-size: 20px">2 > Renseigner les détails</h4>
        <input [(ngModel)]="modal_line.amount" [value]="modal_line.amount" type="text" style="float: left; width: 100%; display: inline-block;"
          placeholder="Montant (EUR)">
        <textarea [(ngModel)]="modal_line.additionalDetail" [value]="modal_line.additionalDetail" class="style-textarea"
          name="message" placeholder="Détails supplémentaires"></textarea>
      </div>

      <div class="column">
        <h4 style="font-size: 20px">3 > Inclure les justificatifs</h4>
        <div style="margin-top: 20px;">
          <file-drop headertext="Déposez les fichiers ici" (onFileDrop)="dropped_modal($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">
          </file-drop>
        </div>
        <button class="validate-button" type="submit" value="Register" style="margin-top: 32px; width: 100%;" (click)="modifyLine(modal_line); close()">Sauvegarder</button>

      </div>
      <div style="padding: 10px 10px 0px;">
        <div class="example-container" style="height: auto;">
          <table mat-table [dataSource]="filesSource_modal">

            <!-- Position Column -->
            <ng-container matColumnDef="FILE">
              <th mat-header-cell *matHeaderCellDef> Fichier uploadé</th>
              <td mat-cell *matCellDef="let element"> {{element.relativePath}} </td>
            </ng-container>

            <ng-container matColumnDef="ACTION">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button class="delete-button" (click)="popModal(element)">
                </button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fileColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: fileColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="top_div" style="padding: 10px 10px 10px;">
    <h5 class="modal-title">Pièces fournies au préalable: </h5>
    <div class="container" *ngFor="let option of modal_line.FILE">
      <pre>
          <img [src] = "option.PATH">
          <button class="btn">Supprimer</button>
        </pre>
    </div>
  </div>
  <div style="height: 30px"></div>
</ng-template>

<div style="padding: 10px 0px 0px; ">
  <h3 style="margin-left: 20px; display: block;">NOTE DE FRAIS | {{date}}</h3>
  <h3 style="margin-left: 20px; display: block;">STATUT : {{ erRequest.status }}</h3>
</div>
<div id="top_box_reports" class="top_div" *ngIf="this.erRequest.status === 'Brouillon'">
  <div id="linepart_one" class="column">
    <h4 style="font-size: 20px">1 > Créer une ligne</h4>
    <select [(ngModel)]="missionMid" #selectedMission id='selector_mission' class="soflow" style="display: inline-block;">
      <option *ngFor="let option of mission" [value]="option.mid">{{option.title}}</option>
    </select>
    <input #selectedMotive type="text" style="float: left; width: 100%; display: inline-block;" placeholder="Motif de remboursement">
    <input #selectedTypeR type="text" style="float: left; width: 100%; display: inline-block;" placeholder="Type de dépense">

    <input #selectedDate class="form-control" type="text" style="float: left; width: 100%; display: inline-block;"
      mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Date de l'opération" required>

  </div>
  <div id="linepart_two" class="column">
    <h4 style="font-size: 20px">2 > Renseigner les détails</h4>
    <input #selectedMontant type="text" style="float: left; width: 100%; display: inline-block;" id="r_montant" name="r_montant"
      placeholder="Montant (EUR)">
    <textarea #description class="style-textarea" id="styled" name="message" placeholder="Détails supplémentaires"></textarea>
  </div>

  <div id="linepart_three" class="column">
    <h4 style="font-size: 20px">3 > Inclure les justificatifs</h4>
    <div style="margin-top: 20px;">
      <file-drop headertext="Déposez les fichiers ici" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
      </file-drop>
    </div>
    <button class="validate-button" type="submit" value="Register" style="margin-top: 32px; width: 100%;" (click)="pushLine(selectedMission.value, selectedMotive.value, selectedTypeR.value, selectedDate.value, description.value, selectedMontant.value)">Ajouter
      la ligne</button>

  </div>
  <div style="padding: 10px 10px 0px;">
    <div class="example-container" style="height: auto;">
      <table mat-table [dataSource]="filesSource">

        <!-- Position Column -->
        <ng-container matColumnDef="FILE">
          <th mat-header-cell *matHeaderCellDef> Fichier uploadé</th>
          <td mat-cell *matCellDef="let element"> {{element.relativePath}} </td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="delete-button" (click)="pop(element)">
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="fileColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: fileColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<div id="low_box_reports" class="top_div" style="">
  <div style="padding: 10px 10px 0px;">
    <h4 style="font-size: 20px">Votre note de frais</h4>
    <div class="example-container" style="height: auto;">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="MISSION">
          <th mat-header-cell *matHeaderCellDef> Mission</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{ element.mid }} </td>
        </ng-container>

        <ng-container matColumnDef="REMBOURSEMENT">
          <th mat-header-cell *matHeaderCellDef> Remboursement</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.reasonOfRefund}} </td>
        </ng-container>

        <ng-container matColumnDef="TYPE">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.typeOfExpense}} </td>
        </ng-container>

        <ng-container matColumnDef="DATE">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.dateOfOperation | date:'MM/dd/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="DETAILS">
          <th mat-header-cell *matHeaderCellDef> Détails</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.additionalDetail.substring(0, 30)}}... </td>
        </ng-container>

        <ng-container matColumnDef="MONTANT">
          <th mat-header-cell *matHeaderCellDef> Montant</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.state]}">
            {{element.amount}} EUR
          </td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let element">
            <button class="gallery-button" (click)="showGalleryEvent(element)">
            </button>
            <div *ngIf="element.state !== 'Validée'">
              <button class="edit-button" (click)="editLineEvent(element)">
              </button>
              <button class="delete-button" (click)="popLine(element)">
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="AVANCE">
          <th mat-header-cell *matHeaderCellDef> Avance</th>
          <td mat-cell *matCellDef="let element">
            <button class="delete-button" (click)="pop(element)">
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
    <div *ngIf="this.erRequest.status === 'Brouillon'">
      <button class="validate-button" type="submit" value="Register" style="margin-top: 32px; width: 100%;" (click)="sendNote()">Soumettre
        la note de frais</button>
    </div>

    <div *ngIf="this.erRequest.status === 'A actualisée 1' || this.erRequest.status === 'A actualisée 2'">
      <button class="validate-button" type="submit" value="Register" style="margin-top: 32px; width: 100%;" (click)="resend()">Renvoyer
        pour validation</button>
    </div>
  </div>
</div>
