<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <button type="button" class="close" (click)="finishEdit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Demande Enregistrée</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="finishEdit()">OK</button>
  </div>
</ng-template>

<div style="padding: 10px 0px 0px; ">
  <h3 style="margin-left: 20px; display: block;">DEMANDER UN CONGÉ</h3>
</div>

<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
<div id="top_box_missions" class="top_div" style="padding-top: 10px;">
  <div id="infos_missions" class="column">
    <div style="margin-top: 10px; padding: 0 0 20px;">

      <select id='type_selector' class="soflow" [(ngModel)]="user_event.type" value="user_event.type" (ngModelChange)="refresh.next()"
        required>
        <option selected *ngFor="let el of vacations" [value]="el.vid">{{ el.name }}</option>
      </select>

    </div>

    <div class="labels_div" style="margin-top: 20px; padding: 30px 0 0px;">Jours restants</div>

    <div class="example-container">
      <table mat-table [dataSource]="dataSource" (ngModelChange)="refresh.next()">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"><b>{{ element.obj.name }}</b></td>
        </ng-container>

        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef> Solde</th>
          <td mat-cell *matCellDef="let element"><b>{{ element.obj.remainingBalance }}</b></td>
        </ng-container>

        <ng-container matColumnDef="poses">
          <th mat-header-cell *matHeaderCellDef> Posés </th>
          <td mat-cell *matCellDef="let element"> {{ element.taken }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

<button class="save-button" (click)="saveEvent(false)">
  Sauvegarder
</button>
  </div>


  <div class="column">
    <table class="table table-bordered" style="padding:0 0 0;">
      <thead>
        <tr>
          <th>Du</th>
          <th>Matin/AM</th>
        </tr>
      </thead>
      <td style="padding:0 0 0;">
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="new_event.start" [altInput]="true"
          [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Not set"
          minDate="{{ minDate }}" (ngModelChange)="updateEndDate()">
      </td>
      <td style="padding:0 0 0;">
        <select class="soflow" id="depart" style="margin: 12px 3px 10px;" [(ngModel)]="start_period">
          <option>Matin</option>
          <option>Après-midi</option>
        </select>
      </td>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Au</th>
          <th>Matin/AM</th>
        </tr>
      </thead>
      <td style="padding:0 0 0;">
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="new_event.end" [altInput]="true"
          [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Not set"
          minDate="{{ minDateEnd }}">
      </td>
      <td style="padding:0 0 0;">
        <select class="soflow" id="Retour" style="margin: 12px 3px 10px;" [(ngModel)]="end_period">
          <option>Matin</option>
          <option>Après-midi</option>
        </select>
      </td>
    </table>

    
    <button class="validate-button" (click)="saveEvent(true)">
      Valider la demande
    </button>
  </div>
</div>


<div style="padding: 10px 0 10px;">
  <h3 style="margin-left: 20px; float: left;">CALENDRIER SUR {{ (viewDate | calendarDate:(view +
    'ViewTitle'):'fr').toUpperCase() }}</h3>
  <div class="btn-group" style="border-color: #008CBA; margin-right: 20px; float:right">
    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" style="background-color: #008CBA;"
      (viewDateChange)="activeDayIsOpen = false">
      < </div> <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        ◯
    </div>
    <div class="btn btn-primary" mwlCalendarNextView style="background-color: #008CBA;" [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      >
    </div>
  </div>
</div>
<div style="margin-top: 40px; display: block; width: 96%; margin-left:2%;">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [style.height.px]="70"
      [style.cal-month-view.height.px]="70" [style.cal-day-cell.px]="70" [style.cal-cell-top.height.px]="70" [locale]="locale"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>
</div>
