

h3 {
  margin: 0 0 10px;
  text-transform: uppercase;
  float:left;

}

h4 {
  margin: 0 10px 10px;
  float:left!important;
  font-size: 20px;
  text-align: left;
  position: relative;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}


/*###Tablet(medium)###*/
@media screen and (min-width: 1024px){
  /*Style*/
  .calendar-div{
    width: 68%;
    float: left;
  }
  .calendar_actions {
    width: 30%;
    height: 386px;
    float: left;
  }
  .mod_div {
    height:487px;
  }

  .info_div{
    border: 1px solid lightgray;
    width: 98%;
    height: 180px;
    background: whitesmoke;
    margin-bottom: 50px;
  }
}


/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 320px) and (max-width : 1023px){
  .calendar-div{
    width: 98%;
  }
  .calendar_actions {
    width: 98%;
    height: auto;
    background-color: whitesmoke;
  }
  .mod_div {
    height: auto;
  }

  .info_div{
    border: 1px solid lightgray;
    width: 98%;
    height: 180px;
    background: whitesmoke;
    margin-top: 386px;
    margin-bottom: 50px;
  }
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
.soflow, .soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 10px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  float: left;
}
