
<div style="background-color: whitesmoke; height:520px;">
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>




<div id="calendar_actions_div" class="calendar_actions">
  <div style="height: 34px;">
    <div>  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
      <div class="btn-group" style= "border-color: #008CBA;  margin-top: -7px; margin-right: 5px; float:right">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          style= "background-color: #008CBA;"
          (viewDateChange)="activeDayIsOpen = false">
          <
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          ◯
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          style= "background-color: #008CBA;"
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          >
        </div>
      </div>
    </div>
  </div>


  <div class="mod_div" style="background-color: whitesmoke; border: 1px solid lightgray;">
    <table class="table table-bordered" >
      <thead>
      <tr>
        <th>Demander un congé</th>
      </tr>
      </thead>
      <td>
        <select class="soflow" style="margin: 0 0 0;">
          <option>Type de congé</option>
          <option>RTT</option>
          <option>Sans solde</option>
        </select>
      </td>
    </table>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Du</th>
        <th>Matin/AM</th>
      </tr>
      </thead>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)] = "new_event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-d"
          altFormat="F j, Y"
          placeholder="Not set">
      </td>
      <td>
        <select class="soflow" id="depart" style="width:100%; margin: 0 0 0;">
          <option>Matin</option>
          <option>Après-midi</option>
        </select>
      </td>
    </table>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Au</th>
        <th>Matin/AM</th>
      </tr>
      </thead>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)] = "new_event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-d"
          altFormat="F j, Y"
          placeholder="Not set">
      </td>
      <td>
        <select class="soflow" id="Retour" style="width:100%; margin: 0 0 0;">
          <option>Matin</option>
          <option>Après-midi</option>
        </select>
      </td>
    </table>
<!--
    <div>
    Edit events
    <button
      class="btn btn-primary pull-right"
      (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div></div>-->
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      style= "background-color: #008CBA; width: 45%; height: 40px; margin-left: 3%; float: left;"
      (viewDateChange)="activeDayIsOpen = false">
      Valider la demande
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      style= "background-color: #333; border: gray; width: 45%; height: 40px; margin-left: 4%; float:left;"
      (viewDateChange)="activeDayIsOpen = false">
      Sauvegarder
    </div>
  </div>
</div>


<div [ngSwitch]="view"  class="calendar-div">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    [style.height.px] = "70"
    [style.cal-month-view.height.px] = "70"
    [style.cal-day-cell.px] = "70"
    [style.cal-cell-top.height.px] = "70"
    [locale]="locale"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
</div>


<!--
<br><br><br>

<h3>
  Edit events
  <button
    class="btn btn-primary pull-right"
    (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
  <tr>
    <th>Title</th>
    <th>Primary color</th>
    <th>Secondary color</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Remove</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let event of events; let index = index">
    <td>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="event.title"
        (keyup)="refresh.next()">
    </td>
    <td>
      <input
        type="color"
        [(ngModel)]="event.color.primary"
        (change)="refresh.next()">
    </td>
    <td>
      <input
        type="color"
        [(ngModel)]="event.color.secondary"
        (change)="refresh.next()">
    </td>
    <td>
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="event.start"
        (ngModelChange)="refresh.next()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
    </td>
    <td>
      <input
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="event.end"
        (ngModelChange)="refresh.next()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
    </td>
    <td>
      <button
        class="btn btn-danger"
        (click)="events.splice(index, 1); refresh.next()">
        Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>-->
</div>
<div style = "border: 1px solid lightgray; width: 98%; height: 180px; background: whitesmoke; margin-bottom: 50px;">
  <table class="table table-bordered" style="width:50%; text-align: center;">
    <thead>
    <tr>
      <th></th>
      <th>Année passée</th>
      <th>Année en cours</th>
      <th>A venir sur le mois</th>
    </tr>
    </thead>
    <td style="text-align: right;">
      Solde<br>Congés posés<br>En cours de validation<br>Restants/Reportés
    </td>
    <td>
      32<br>28<br>0<br>4
    </td>
    <td>
      15<br>9<br>9<br>1
    </td>
    <td>
      2.5<br>0<br>0<br>0
    </td>
  </table>
</div>

