<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="user_email">
          Username
        </label>
<input type="text" id="user_email" class="form-control" name="user_email" ngModel required>
      </div>
      <div class="form-group">
        <label for="user_pwd">
          Password
        </label>
        <input type="password" id="user_pwd" class="form-control" name="user_pwd" ngModel required>
      </div>
      <button class="btn btn-primary" type="button" (click)="onSignIn(f)">Se connecter</button>
    </form>
  </div>
</div>
