<!-- FENETRE MODALE SUPPRESSION -->
<ng-template #modalSuppression let-close="close">
  <div class="modal-header">
    <div *ngIf="this.mission.status === 'En création'">
      <h5 class="modal-title">Suppression</h5>
    </div>
    <div *ngIf="this.mission.status === 'En cours'">
      <h5 class="modal-title">Annulation</h5>
    </div>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="this.mission.status === 'En création'">
    <h5>Êtes-vous sûr de vouloir supprimer cette mission ? </h5>
  </div>
  <div class="modal-body" *ngIf="this.mission.status === 'En cours'">
    <h5>Êtes-vous sûr de vouloir annuler cette mission ? </h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="removeMission()">OUI</button>
    <button type="button" class="btn btn-danger" (click)="close()">NON</button>
  </div>
</ng-template>

<!-- FENETRE MODALE MODIFICATION-->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Edition</h5>
    <button type="button" class="close" (click)="endCreate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Modifications enregistrées</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="endCreate()">OK</button>
  </div>
</ng-template>

<div style="padding: 10px 0px 0px; ">
  <h3 style="margin-left: 20px; display: block;">EDITION</h3>
  <h3 style="margin-left: 20px; display: block;">STATUT : {{ this.mission.status }}</h3>
</div>

<div id="top_box_missions" class="top_div">
  <div id="infos_missions" class="column">
    <div class="labels_div">Informations</div>

    <input type="text" id="m_name" name="m_name" placeholder="Intitulé de la mission (Requis)" [(ngModel)]="mission.title"
      [disabled]="isReadOnly">
    <div class="labels_div">Dates</div>
    <input class="form-control" type="text" mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Date de début (YYYY-MM-DD) (Requis)"
      [(ngModel)]="mission.startDate" minDate="{{ minDate }}" (ngModelChange)="updateEndDate()" [disabled]="isReadOnly"
      required>
    <input class="form-control" type="text" mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y" placeholder="Date de fin (Laisser vide pour indéfini)"
      [(ngModel)]="mission.endDate" minDate="{{ minDateEnd }}" [disabled]="isReadOnly">


  </div>

  <div class="column">
    <div class="labels_div">Description (facultative)</div>
    <textarea class="style-textarea" id="styled" name="message" placeholder="Ajouter une description (facultative)"
      [(ngModel)]="mission.description" [disabled]="isReadOnly"></textarea>
  </div>

</div>

<div id="bottom_box_missions" class="top_div">

  <div class="column">
    <div class="labels_div">Personnes affectées</div>
    <div class="example-container">
      <table mat-table [dataSource]="dataSource_selected">

        <!-- Position Column -->
        <ng-container matColumnDef="NOM">
          <th mat-header-cell *matHeaderCellDef> NOM </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{element.lastName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="PRENOM">
          <th mat-header-cell *matHeaderCellDef> PRENOM </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{element.firstName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="SERVICE">
          <th mat-header-cell *matHeaderCellDef> SERVICE </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{this.serviceService.getServiceById(this.service,
            element.sid).name}}</td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
          <th mat-header-cell *matHeaderCellDef> ACTION </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="((this.connectedService.getConnectedUser().sid === this.mission.sid && colors[element.uid] !== '#FFBBBB')  && this.connectedService.getConnectedUser().status === 'HeadOfService') && (this.mission.status !== 'Annulée' && this.mission.status !== 'Terminée')">
              <button class="refuse-button" (click)="popEmployee(element)">
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="VALID">
          <th mat-header-cell *matHeaderCellDef> VAL. </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="(((colors[element.uid] === '#F6FCAB') && this.connectedService.getConnectedUser().sid === element.sid) && this.connectedService.getConnectedUser().status === 'HeadOfService' )  && (this.mission.status !== 'Annulée' && this.mission.status !== 'Terminée')">
              <button class="accept-button" (click)="validateUser(element.uid)">
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="REFUS">
          <th mat-header-cell *matHeaderCellDef> REF. </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="(((colors[element.uid] === '#F6FCAB') && this.connectedService.getConnectedUser().sid === element.sid)  && this.connectedService.getConnectedUser().status === 'HeadOfService')  && (this.mission.status !== 'Annulée' && this.mission.status !== 'Terminée')">
              <button class="refuse-button" (click)="refuseUser(element.uid)">
              </button>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div *ngIf="this.connectedService.getConnectedUser().sid === this.mission.sid">
      <div class="column" *ngIf="this.mission.status !== 'Annulée' && this.mission.status !== 'Terminée'">
        <button class="validate-button" type="submit" value="Register" (click)="validate(false)" ng-disabled="register.$invalid">
          Valider les modifications
        </button>
      </div>

      <div class="column" *ngIf="this.mission.status === 'En création'">
        <button class="abort-button" (click)="removeModal()">Supprimer</button>
      </div>
      <div class="column" *ngIf="this.mission.status === 'En cours'">
        <button class="abort-button" (click)="removeModal()">Annuler la mission</button>
      </div>

      <div class="column" *ngIf="this.mission.status === 'En création'">
        <button class="launch-button" type="submit" value="Register" (click)="validate(true)" ng-disabled="register.$invalid">
          Démarrer la mission
        </button>
      </div>

      <div class="column" *ngIf="this.mission.status === 'En cours'">
        <button class="end-button" type="submit" value="Register" (click)="validate(true)" ng-disabled="register.$invalid">
          Mettre fin à la mission
        </button>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="labels_div">Rechercher</div>
    <div style="border: 1px solid #d3d3d3; padding: 10px 10px 10px;">


      <form class="example-form">
        <!-- <mat-form-field class="example-full-width"> -->
        <input type="text" placeholder="Collaborateur" aria-label="Number" matInput [formControl]="myControl"
          [(ngModel)]="collaborateurInput" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </form>


      <button class="validate-button" style="margin: 0 2% 0;" (click)="newFilteredEvents()">Rechercher</button>

      <div class="example-container mat-elevation-z8" style="height:320px;">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="NOM">
            <th mat-header-cell *matHeaderCellDef> NOM </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{element.firstName}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="PRENOM">
            <th mat-header-cell *matHeaderCellDef> PRENOM </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{element.lastName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="SERVICE">
            <th mat-header-cell *matHeaderCellDef> SERVICE </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{this.serviceService.getServiceById(this.service,
              element.sid).name}} </td>
          </ng-container>


          <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="((this.connectedService.getConnectedUser().sid === this.mission.sid  && this.connectedService.getConnectedUser().status === 'HeadOfService') && (this.mission.status !== 'Annulée' && this.mission.status !== 'Terminée')) && element.lastName !== 'Admin'">
                <button class="add-button" (click)="pushEmployee(element)">
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsAdd; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAdd;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
