<!-- FENETRE MODALE -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Création</h5>
    <button type="button" class="close" (click)="endCreate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="this.modalData?.status === 'En cours'">
    <h5>Mission créée</h5>
  </div>
<div class="modal-body" *ngIf="this.modalData?.status === 'En création'">
    <h5>Mission enregistrée</h5>
    <div *ngIf="this.modalData?.launch === true">
      <p>Impossible de démarrer la mission car des collaborateurs de services différents ont été assigné à cette mission</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="endCreate()">OK</button>
  </div>
</ng-template>


<div style="padding: 10px 0px 0px; ">
  <h3 style="margin-left: 20px; display: block;">CRÉATION</h3>
</div>

<div id="top_box_missions" class="top_div">
  <div id="infos_missions" class="column">
    <div class="labels_div">Informations</div>

    <input #missionTitle type="text" id="m_name" name="m_name" maxlength="31" placeholder="Intitulé de la mission (Requis)">


    <div class="labels_div">Dates</div>
    <input #missionStart class="form-control" type="text" mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y"
      placeholder="Date de début (YYYY-MM-DD) (Requis)" [(ngModel)]="startDate" (ngModelChange)="updateEndDate()"
      minDate="{{ minDate }}" required>

    <input #missionEnd class="form-control" type="text" mwlFlatpickr dateFormat="Y-m-d" altFormat="F j, Y" [(ngModel)]="endDate"
      placeholder="Date de fin (Laisser vide pour indéfini)" minDate="{{ minDateEnd }}">

  </div>

  <div class="column">
    <div class="labels_div">Description (facultative)</div>
    <textarea #missionDescription class="style-textarea" id="styled" name="message" placeholder="Ajouter une description (facultative)"></textarea>
  </div>

</div>

<div id="bottom_box_missions" class="top_div">

  <div class="column">
    <div class="labels_div">Personnes affectées</div>
    <div class="example-container">
      <table mat-table [dataSource]="dataSource_selected">

        <!-- Position Column -->
        <ng-container matColumnDef="NOM">
          <th mat-header-cell *matHeaderCellDef> NOM </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{element.lastName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="PRENOM">
          <th mat-header-cell *matHeaderCellDef> PRENOM </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{element.firstName}}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="SERVICE">
          <th mat-header-cell *matHeaderCellDef> SERVICE </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
            {{this.serviceService.getServiceById(this.service,
            element.sid).name}}</td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
          <th mat-header-cell *matHeaderCellDef> ACTION </th>
          <td mat-cell *matCellDef="let element">
            <button class="refuse-button" (click)="popEmployee(element)">
              <!--<img border="0" alt="PolyManager" src="./assets/delete.png" width="30" height="30">-->
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="column">
      <button class="validate-button" type="submit" value="Register" (click)="validate(missionTitle.value, missionStart.value, missionEnd.value, missionDescription.value, 'false')"
        ng-disabled="register.$invalid">Valider la création</button>
    </div>
    <div class="column">
      <button class="abort-button" (click)="endCreate()">Abandonner</button>
    </div>
    <div class="column">
      <button class="launch-button" type="submit" value="Register" (click)="validate(missionTitle.value, missionStart.value, missionEnd.value, missionDescription.value, 'true')"
        ng-disabled="register.$invalid">
        Valider et Démarrer la mission
      </button>
    </div>

  </div>
  <div class="column">
    <div class="labels_div">Rechercher</div>
    <div style="border: 1px solid #d3d3d3; padding: 10px 10px 10px;">


      <form class="example-form">
        <!-- <mat-form-field class="example-full-width"> -->
        <input type="text" placeholder="Collaborateur" aria-label="Number" matInput [formControl]="myControl"
          [(ngModel)]="collaborateurInput" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
        <!-- </mat-form-field> -->
      </form>


      <button class="validate-button" style="margin: 0 2% 0;" (click)="newFilteredEvents()">Rechercher</button>

      <div class="example-container mat-elevation-z8" style="height:200px;">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="NOM">
            <th mat-header-cell *matHeaderCellDef> NOM </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{element.firstName}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="PRENOM">
            <th mat-header-cell *matHeaderCellDef> PRENOM </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{element.lastName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="SERVICE">
            <th mat-header-cell *matHeaderCellDef> SERVICE </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': colors[element.uid]}">
              {{this.serviceService.getServiceById(this.service,
              element.sid).name}} </td>
          </ng-container>


          <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element">
              <button class="add-button" (click)="pushEmployee(element)">
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
