h3 {
  margin: 0 0 10px;
  text-transform: uppercase;
  float:left;

}

h4 {
  margin: 0 10px 10px;
  float:left!important;
  font-size: 20px;
  text-align: left;
  position: relative;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*###Tablet(medium)###*/
@media screen and (min-width: 1024px){
  /*Style*/
  .calendar-div{
    width: 40%;
    float: left;
  }
  .calendar_actions {
    width: 60%;
    height: 386px;
    float: left;
  }
  .mod_div {
    height:477px;
    wifth:60%;
  }

  .info_div{
    border: 1px solid lightgray;
    width: 98%;
    height: 180px;
    background: whitesmoke;
    margin-bottom: 50px;
  }
}

.hoverTable{
  width:100%!important;
  border-collapse:collapse;
  height: 200px;
  float:left;
}
.hoverTable td{
  padding:7px; border-left:#4e95f4 1px solid; border-right:#4e95f4 1px solid;
  border-bottom: none;
  width:12.5%;
  font-size: 14px;
}
/* Define the default color for all the table rows */
.hoverTable tr:nth-child(odd){
  background: #b8d1f3;
  width:12.5%;
}
.hoverTable tr:nth-child(even) {
  background-color: #f2f2f2;
  width:12.5%;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
  background-color: #ffff99;
  width:12.5%;
}


/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 320px) and (max-width : 1023px){
  .calendar-div{
    width: 98%;
  }
  .calendar_actions {
    width: 98%;
    height: auto;
    background-color: whitesmoke;
  }
  .mod_div {
    height: auto;
  }

  .info_div{
    border: 1px solid lightgray;
    width: 98%;
    height: 180px;
    background: whitesmoke;
    margin-top: 386px;
    margin-bottom: 50px;
  }
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
.soflow, .soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 10px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  float: left;
}

/*###Tablet(medium)###*/
@media screen and (min-width: 1024px){
  .top_div{
    border: 1px solid lightgray;
    width: 96%;
    margin: 20px 2% 20px;
    background: whitesmoke;
  }

  .top_div:after {
    content: "";
    display: table;
    clear: both;
  }
}

input[type=text] {
  width: 96%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px 10px 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.style-textarea {
  width: 96%;
  height: 215px;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px 10px 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  resize: none;
}

.labels_div {
  margin: 0 10px 10px;
  font-size: 20px;
  text-align: left;
}


.column {
  float: left;
  width: 50%;
  padding: 10px 10px 10px;
}

.example-container {
  position: sticky;
  height: 350px;
  margin: 10px 10px 10px;
  overflow: auto;
  width: 96%;
}

table {
  width: 100%;
}

.delete-button {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/delete.png");
  background-size: contain;
  outline: none;
}

.delete-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/delete_hover.png");
  background-size: contain;
  outline: none;
}

.delete-button:active {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/delete_action.png");
  background-size: contain;
  outline: none;
}

.consult-button {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/list.png");
  background-size: contain;
  outline: none;
}

.consult-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/list_action.png");
  background-size: contain;
  outline: none;
}

.consult-button:active {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/list_hover.png");
  background-size: contain;
  outline: none;
}

.add-button {
   background-color: transparent;
   color: black;
   border: none;
   width: 30px;
   height: 30px;
   background-image: url("../specific-assets/push.png");
   background-size: contain;
   outline: none;
 }

.add-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/push_hover.png");
  background-size: contain;
  outline: none;
}

.add-button:active {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/push_action.png");
  background-size: contain;
  outline: none;
}

.accept-button {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/validate.png");
  background-size: contain;
  outline: none;
}

.accept-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/validate_hover.png");
  background-size: contain;
  outline: none;
}

.accept-button:active {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/validate_action.png");
  background-size: contain;
  outline: none;
}

.refuse-button {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/refuse.png");
  background-size: contain;
  outline: none;
}

.refuse-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/refuse_hover.png");
  background-size: contain;
  outline: none;
}

.refuse-button:active {
  background-color: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url("../specific-assets/refuse_action.png");
  background-size: contain;
  outline: none;
}

.validate-button {
  border-radius: 3px;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
  width: 23%;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.validate-button:hover {
  border-radius: 3px;
  background-color: white;
  color: black;
}

.abort-button {
  border-radius: 3px;
  background-color: #b72a2a;
  color: white;
  border: 2px solid #b72a2a;
  width: 96%;
  padding: 10px 10px 10px;
  cursor: pointer;
}

.abort-button:hover {
  border-radius: 3px;
  background-color: white;
  color: black;
}

.soflow, .soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 10px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 23%;
  float: left;
}

.highlight {
  background:#F84072;
  border: 2px red solid;
}
